extends layout

block content
  h1= title
  p A simple web app and service for viewing GitHub's language colors.
  p
    | You may access the simple API at 
    a(href='http://language-colors.herokuapp.com/index.json')
      code /index.json
    | .

  ul.languages
    for color, language in languages
      if color
        li
          .color(style="background-color: "+color+";")
          span.language= language
