extends layout

block content
  h1= title
  p A simple web app and service for viewing GitHub's language colors.
  p
    | You may access the simple API at 
    a(href='http://language-colors.herokuapp.com/index.json')
      code /index.json
    | .

  .languages.pure-g
    for color, language in languages
      if color
        .pure-u-1-4.pure-g
          .pure-u-1-6
            .color(style="background-color: "+color+";")
          .pure-u-5-6
            span.language= language
