extends layout

block content
  h1= title
  p A simple web app and service for viewing GitHub's language colors.
  p
    | You may access the simple API at 
    a(href='http://language-colors.herokuapp.com/index.json') /index.json
    | .

  ul
    for color, language in languages
      if color
        li(style="color: "+color+";")= language
