extends layout

block content
  // Introduction, shares content with the readme
  h1 Language Colors
  p A simple web app and service for viewing GitHub's language colors.
  p
    | You may access the simple API at 
    a(href='/index.json')
      code /index.json
    | .
  p.text-muted Updated #{updatedString}.

  // The grid of languages to display
  ul.languages
    for color, language in languages
      li
        .color(style="background-color: "+color+";")
        span.language= language
