body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.languages {
  margin-top: 50px;
}

.color {
  display: inline-block;
  height: 25px;
  width: 25px;
}
.color, .language {
  vertical-align: middle;
}
